*{
    margin: 0;
}
img{
    display: block;
}

body{
    margin: 0;
}

header{
    position: fixed;
    width: 100%;
    padding: 20px;
    z-index: 10;
}

.header-logo img{
    float: left;;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.header-nav{
    float: right;
    height: 50px;
    display: block;
}
.nav-list{
    color: #fdfdfd;
    display: flex;
    list-style: none;
    margin-right: 50px;
}

.nav-list-item{
    display: flex;
    align-items: center;
    margin: 0 30px 0 0;
    height: 50px;
}

.nav-list-item a{
    color: inherit;
    display: block;
    text-decoration: none;
    position: relative;
    transition : all 0.3s;
}

.nav-list-item a:hover{
    transform: scale(1.05)
}

.nav-list-item a::before{
    transition:all 0.9s;
    position: absolute;
    content: "";
    left: 100%;
    right: 100%;
    bottom: 0px;
    height: 1px;
    background-color: rgb(253, 253, 253);
    -webkit-transition: left 0.2s ease, right 0.2s ease;
    -moz-transition: left 0.2s ease, right 0.2s ease;
    -o-transition: left 0.2s ease, right 0.2s ease;
    transition: left 0.2s ease, right 0.2s ease;
}

.nav-list-item a:hover::before{
    left: 0;
    right: 0;
}


