/* WORKS */
body{
    font-family: "Noto Sans JP", sans-serif;
}


#work{
    margin: 0px auto;
    max-width: 1200px;
    width: 80%;
    padding-top :64px;
    margin-bottom: 100px;

}

.section-title{
    margin-bottom: 72px;
    margin-top: 50px;
    font-size: 28px;
    font-weight: 300;
    text-align: center;
}


.work-genre{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    letter-spacing: 2px;
    font-size: 1.8em;
    font-weight: 300;
}

.work-genre::before{
    display: inline-block;
    width: 6px;
    height: 0.8em;
    background-color: #417a50;
    content: "";
    margin-top:4px;
    margin-right: 12px;
}

.works{
    padding: 16px 32px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap :72px 108px;
    margin-bottom: 96px;
}

.filter{
    display: flex;
    padding: 0;
    gap: 16px;
    margin-bottom: 32px;
}

.filter li{
    padding :2px 16px;
    border: #333 1px solid;
    border-radius: 9999px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
    transition: all 0.5s;
}

.filter li.is-active{
    background-color: #e5e5e5d6;
    transition: all 0.5s;
}



.work-detail{
    background-color:white;
    transition: 0.5s all;
    /* border: #333 1px solid; */
    list-style: none;
    color: #333;
    display: grid;
    grid-template-rows: repeat(3, auto);
}

.work-detail:hover{
    opacity: 0.8;
}

.works a{
    text-decoration: none;
    display: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.works a.is-show{
    display: block;
}

.work-detail img{
    order: 1;
    margin-bottom: 8px;
}

.tag{
    order: 3;
    color: #333;
    font-size: small;
    margin-bottom: 4px;
}

.work-title{
    margin: 0;
    line-height: normal;
    order: 4;
    font-weight: bold;
    font-size: large;
}

.filter-tag{
    display: flex;
    gap: 0px 12px;
    margin-bottom: 12px;
    order: 2;
    list-style: none;
    padding: 0;
    /* text-decoration: underline 1px solid #333; */
    text-underline-offset: 4px;
    font-size: small;
    font-weight: 300;
}

.filter-tag li{
    min-width: 18px;
    text-align: center;
    border: #333 1px solid;
    padding: 2px 8px;
    border-radius: 9999px;
}


.work-1{
    order: 3;
}

.work-2{
    order: 1;
}

.work-3{
    order: 2;
}

.work-4{
    order: 5;
}

.work-4 div img{
    border: #a1a1a1 solid 0.5px;
}

.work-5{
    order: 6;
    object-fit: cover;
    
}

.work-5 img{
    border: #a1a1a1 solid 0.2px;
}

.work-6{
    order: 4;
}

.work-7{
    order: 8;
}

.work-8{
    order: 7;
}


#photo{
    background-color: #333;
    display: grid;
    width: 80%;
    margin: 64px auto;
    aspect-ratio: 1;
    grid-template-columns: repeat(5, minmax(0,1fr));
    grid-template-rows:  repeat(5, minmax(0, 1fr));
    grid-template-areas: 
    "areaA areaA areaB areaB areaB"
    "areaA areaA areaB areaB areaB"
    "areaA areaA areaC areaD areaD"
    "areaE areaE areaE areaD areaD"
    "areaE areaE areaE areaD areaD"
    ;
    margin-bottom: 64px;
}

.photo-item{display: block;    overflow: hidden;}

.photo-item img{
    width: 100%;
    object-fit: cover;
    transition: filter 0.8s,transform 0.8s;
}

.photo-item img:hover{
    transition: filter 1s,transform 1s;
    transform: scale(1.05);
}

.photo-1{
    grid-area: areaA;
}

.photo-2{
    grid-area: areaB;
}

.photo-3{
    grid-area: areaC;
    aspect-ratio: 1/1;
}

.photo-4{
    grid-area: areaD;
}

.photo-5{
    grid-area: areaE;
}

@media screen and (max-width: 1024px){
    p{
        font-size: small;
    }

    .top{
        position: relative;
        margin-bottom: 50px;
    }
    
    .top::before{
        width: 100%;
        height: 100%;
    
    }
    
    .top-img{
        top: 0;
        left: 0;
        display: block;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    
    .top-text{
        position: absolute;
        top: 50%;
        left: 50%;
        color: rgb(178, 176, 176);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .top-text strong{
        font-size: 48px;
        color: transparent;
        -webkit-text-stroke: 1px white;
        white-space: nowrap;
    }
    
    /* WORKS */
    
    #work{
        margin-top: 0;
        margin-bottom: 50px;
    
    }
    
    section h1{
        font-size: 1.8em;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
    .works{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: end;
    
    }
    
    .work-detail{
        width: 45%;
        margin-bottom: 35px;
        background-color:white;
        transition: none;
    }
    
    .work-detail p{
        font-size: small;
    }
    
    .work-detail a{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .work-detail a img{
        border: #333 solid 0.5px;
    }
    
    .tag{
        text-align: center;
        color: #333;
        padding-bottom: 5px;
    }
    
    .work-5{
        object-fit: cover;
    }
    
    
    /* abount */
    #about{
        margin-top: -20px;
        padding-top: 20px;
    }
    
    .about_content{
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    .self-img{
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .self-img img{
        width :250px;
        margin: 0 auto;
        object-fit: cover;
        height: 250px;
    }
    
    .profile{
        width: 100%;
        margin-top: 50px;
    }
    
    .profile h2{
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 50px;
        text-align: center;
    
    }
    
    table{
        margin: 0 auto;
        margin-top: 30px;
        border-spacing: 20px;
        font-size: 12px;
    }
    
    th{
        vertical-align: top;
        font-weight: normal;
        text-align: left;
    }
    
    
    
    
    /* SKILL */
    
    #skill{
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: -50px;
        padding-bottom: 50px;
    }
    
    #skill h1{
        font-size: 1.2em;
        text-align: center;
        margin-left: 5%;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
    .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #fdfdfd90;
    }
    
    .skills-item{
        background-color: #fdfdfd00;
        width: 25%;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .skills-item img{
        width: 52px;
        height: 52px;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 8px;
    }
    
    .skills-item h2{
        font-size: 10px;
        font-weight: 100;
    }
    
    .skills-item p{
        font-size: 10px;
        -webkit-text-stroke: 0.5px #333;
        color:  #fdfdfd;
    }
    
    .skills-item p span{
        color: rgb(255, 239, 15);
    }
}

@media screen and (max-width: 480px){
    p{
        font-size: small;
    }

    .top{
        position: relative;
        margin-bottom: 0px;
    }
    
    .top::before{
        width: 100%;
        height: 100%;
    
    }
    
    .top-img{
        top: 0;
        left: 0;
        display: block;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    
    .top-text{
        position: absolute;
        top: 50%;
        left: 50%;
        color: rgb(178, 176, 176);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .top-text strong{
        font-size: 32px;
        color: transparent;
        -webkit-text-stroke: 1px white;
        white-space: nowrap;
    }
    
    /* WORKS */
    
    #work{
        margin-top: 0;
        margin-bottom: 50px;
    
    }
    
    section h1{
        font-size: 1.5em;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
    .works{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: end;
    
    }
    
    .work-detail{
        width: 45%;
        margin-bottom: 35px;
        background-color:white;
        transition: none;
    }
    
    .work-detail p{
        font-size: x-small;
    }

    .work-detail:hover{
        opacity: 1;
        transform : scale(1);
    }
    
    .work-detail a{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    .work-detail a img{
        border: #333 solid 0.5px;
    }
    
    .tag{
        text-align: center;
        color: #333;
        padding-bottom: 5px;
    }
    
    .work-5{
        object-fit: cover;
    }
    
    
    /* abount */
    #about{
        margin-top: -20px;
        padding-top: 20px;
    }
    
    .about_content{
        display: flex;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
    .self-img{
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    .self-img img{
        width :250px;
        margin: 0 auto;
        object-fit: cover;
        height: 250px;
    }
    
    .profile{
        width: 100%;
        margin-top: 50px;
    }
    
    .profile h2{
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 50px;
        text-align: center;
    
    }
    
    table{
        margin-top: 30px;
        border-spacing: 20px;
        font-size: 12px;
    }
    
    th{
        vertical-align: top;
        font-weight: normal;
        text-align: left;
    }
    
    
    
    
    /* SKILL */
    
    #skill{
        width: 80%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: -50px;
        padding-bottom: 50px;
    }
    
    #skill h1{
        font-size: 1.2em;
        text-align: center;
        margin-left: 5%;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    
    .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #fdfdfd90;
    }
    
    .skills-item{
        background-color: #fdfdfd00;
        width: 25%;
        margin-bottom: 30px;
        text-align: center;
    }
    
    .skills-item img{
        width: 52px;
        height: 52px;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 8px;
    }
    
    .skills-item h2{
        font-size: 10px;
        font-weight: 100;
    }
    
    .skills-item p{
        font-size: 10px;
        -webkit-text-stroke: 0.5px #333;
        color:  #fdfdfd;
    }
    
    .skills-item p span{
        color: rgb(255, 239, 15);
    }
}