.nav-list-item{
    color: #333;
}

.content{
    text-align: center;
    padding-top: 80px;
}

.main_img{
    width: 60%;
    margin: 50px auto;
}

.detail{
    display: flex;
    width: 40%;
    margin: 0 auto;

}

.detail-list{
    list-style-type: none;
    width: 50%;
}

.detail-list li{
    margin-bottom: 10px;
}
.left{
}

.right{
}